.containerIcon {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.testimonialUser {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 22px 0 20px;
}
.listIcon {
  height: 16px;
  width: 89.6px;
  position: relative;
}
.testimonialQuote {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.swiftsimwavecomProvidesHigh {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 20.21px;
}
.testimonialContent,
.testimonialQuoteParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.4px;
}
.testimonialContent {
  gap: 16px;
}
.kerryJp,
.userNameLocation {
  display: flex;
  justify-content: center;
}
.kerryJp {
  width: 145px;
  position: relative;
  line-height: 20.21px;
  align-items: center;
  flex-shrink: 0;
}
.userNameLocation {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 6px;
  color: rgba(41, 37, 44, 0.6);
}
.item {
  width: 453.3px;
  border-radius: 20px;
  border: 1px solid #d3e7eb;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 47px 38px 169px;
  gap: 19.4px;
  debug_commit: bf4bc93;
}
.container,
.item,
.item1,
.item2,
.item3 {
  box-sizing: border-box;
  max-width: 100%;
}
.item1,
.item2,
.item3 {
  height: 437.8px;
  width: 453.3px;
  position: relative;
  border-radius: 20px;
  border: 1px solid #d3e7eb;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container {
  width: 1400px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 0;
  gap: 20px;
  z-index: 1;
}
.linkSvg {
  height: 11px;
  width: 7px;
  position: relative;
  object-fit: contain;
}
.navigationPlaceholder {
  margin-top: -2.6999999999970896px;
  position: relative;
  line-height: 18.4px;
  display: inline-block;
  min-width: 20.4px;
}
.linkSvg1 {
  height: 11px;
  width: 7px;
  position: relative;
}
.container1 {
  align-self: stretch;
  height: 18.4px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 659px 0.7px 658px;
  box-sizing: border-box;
  gap: 20px;
  z-index: 2;
  font-size: 12.3px;
}
.testimonialsContent,
.testimonialsContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.testimonialsContent {
  width: 1400px;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonialsContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 46.6px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13.5px;
  color: #29252c;
  font-family: Poppins;
}
@media screen and (max-width: 1400px) {
  .container1 {
    padding-left: 329px;
    padding-right: 329px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .container1 {
    padding-left: 164px;
    padding-right: 164px;
    box-sizing: border-box;
  }
  .testimonialsContentWrapper {
    padding-bottom: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .container1,
  .item {
    box-sizing: border-box;
  }
  .item {
    padding-top: 31px;
    padding-bottom: 110px;
  }
  .container1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
