.link7375xpng {
  height: 148.9px;
  width: 148.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.stepsImage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 52px;
}
.check {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.stepsTitles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.compatibleWithEsim,
.makeSureYour {
  display: block;
}
.makeSureYourContainer {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 25.6px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.stepsDescription,
.stepsIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stepsDescription {
  align-self: stretch;
  align-items: flex-end;
  gap: 9px;
}
.stepsIcons {
  width: 253.3px;
  align-items: flex-start;
  gap: 19.9px;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
@media screen and (max-width: 450px) {
  .stepsImage {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .check {
    font-size: 19px;
    line-height: 15px;
  }
}
